@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/);
}
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
